@media (min-width: 1200px) {
    
}
@media (min-width : 992px) and (max-width: 1050px) {
    .contact{
         background: linear-gradient(105deg, rgba(21, 31, 32, 1)0% ,rgba(21, 31, 32, .95)100%, transparent 50%),url(../images/shimul14.jpg); 
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    
     .contact{
         background: linear-gradient(105deg, rgba(21, 31, 32, 1)0% ,rgba(21, 31, 32, .95)100%, transparent 50%),url(../images/shimul14.jpg); 
    }
    .contact-form{
        width: 80%;
        margin: auto;
    }
    .contact h2{
        font-size: 30px;
    }
   
}
@media (min-width: 350px) and (max-width: 767px){
    
    .banner h1{
        font-size: 35px;
    }
    
    .contact{
         background: linear-gradient(105deg, rgba(21, 31, 32, 1)0% ,rgba(21, 31, 32, .95)100%, transparent 50%),url(../images/shimul14.jpg);
   
    }
    .contact h2{
        font-size: 30px;
    }
    .contact-form{
        width: 80%;
        margin: auto;
    }
   
}
@media (max-width:350px){
    .banner h1{
        font-size: 20px;
    }
   
    .contact{
         background: linear-gradient(105deg, rgba(21, 31, 32, 1)0% ,rgba(21, 31, 32, .95)100%, transparent 50%),url(../images/shimul14.jpg);
    }
     .contact h2{
        font-size: 30px;
    }
    .contact-form{
        width: 80%;
        margin: auto;
    }
    
    
}